@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


:root {
    --item-hover-color: rgba(255,0,0,0.1);
}
header h2 {
    font-family: 'Kalam', cursive;
    margin: 0;
}

.menu-section .hover-item {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.menu-section .hover-item:last-child {
    border-bottom: none;
}

.hover-item:hover {
    background-color: var(--item-hover-color);
}

.item-icon {
    font-size: 2em;
}

header img {
    max-width: 70%;
}

button {
    cursor: pointer;
}

.cart-quantity {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

input[type='number']{
    text-align: center;
    width: 2em;
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}